DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=manhgah_gest
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
